/*印刷用css START*/
	
@media print{
    /*印刷時A4サイズ*/
	div.printpage {
		width: 210mm;
		height: 296mm; /* */
		/*height: 400mm;/**/
		/*border: solid 1px black;		/*ボックス線 消す予定*/
		margin:0px auto;
	}
    
    
	/*日付、見積No*/
	div.dateBox{
		/*border: solid 1px black;		/*ボックス線 消す予定*/
		position: absolute;
		left:600px;
		top: 0px;
	}

	/*日付、見積No*/
	table.date{
		font-size: 11px;
		}

	/*見積書*/
	h1{
		text-align: center;			/*文字位置*/
		font-weight:bold;
		font-size:40px;
		letter-spacing: 15px;
	}
		
	div.title{
		height: 170px;
		text-align: center;				/*文字位置*/
		/*border: solid 1px black;                      /*ボックス線 消す予定*/
		position:relative;				/*位置指定*/
		top:-30px;
	}
	/*企業名*/
	p.kigyo{
		
		/*border-bottom:3px solid black;                /*下線*/
		font-weight: bold;				/*太字*/
		text-align: left;
		font-size:20px;					/*文字大きさ*/
		position:relative;                              /*位置指定*/
		/*top:25px;					/*高さ指定*/
	}
	/*企業名 下線固定*/
	p.kigyo::before  {
		content: '' ;
		position: absolute;
		bottom: 0px;					/*線の上下位置*/
		width: 530px;					/*線の長さ*/
		height: 2px;					/*線の太さ*/
		/*-moz-transform: translateX(50%);
		-webkit-transform: translateX(50%);*/
		/*-ms-transform: translateX(-50%);*/
		transform: translateX(0%);			/*位置調整*/
		background-color: black ;			/*線の色*/
		
	  }
	p.tanto{
		
		font-weight: bold;				/*太字*/
		text-align: left;
		font-size:15px;					/*文字大きさ*/
		position:relative;				/*位置指定*/
		/*top:15px;					/*高さ指定*/
		left: 30px;
	}
	/*案件名*/
	p.kenmei{
		/*text-decoration: underline;                   /*下線*/
		font-weight: bold;				/*太字*/
		text-align: left;
		/*margin-right: 100px;*/
		/*padding-right: 300px;				/*内側余白*/
		font-size:20px;
	}
	/*案件名 下線固定*/
	p.kenmei::before {
		content: '';
		position: absolute;
		/*left: 48%;*/
		bottom: 45px;					/*線の上下位置*/
		width: 530px;					/*線の長さ*/
		height: 2px;					/*線の太さ*/
		transform: translateX(0%);                      /*位置調整*/
		background-color: black;			/*線の色*/
		
		}
                
        /*「御中」　固定*/        
        div.fix{
		/*border: solid 1px black;/**/
		width: 50px;
		height: 30px;
		position: absolute;
		font-size:20px;					/*文字大きさ*/
		top:0px;					/*高さ指定*/
		left:450px;
		font-weight: bold;
	}
	/*「様」　固定*/
	div.fix2{
		/*border: solid 1px black;/**/
		width: 50px;
		height: 30px;
		position: absolute;
		font-size:15px;					/*文字大きさ*/
		top:50px;
		left:450px;
		font-weight: bold;
	}
        
        /******************************金額計、有効期限、自社情報、印鑑**********************************************************/
	 div.box{
		/*border: solid 1px black;                      /*ボックス線 消す予定*/
		position:relative;				/*位置指定*/
		top:-60px;					/*高さ*/
		height: 250px;					/*縦幅*/
		margin-bottom: -100px;                          /*余白下*/
	}
	
	/*金額計、有効期限*/
	div.kingakuBox{
		/*border: solid 1px black;                      /*ボックス線 消す予定*/
		position:relative;				/*位置指定*/
		width:340px;					/*横幅*/
		text-align: left;                               /*文字左寄せ*/
		float: left;
		
	}
	
	  /*金額合計*/
	p.kingaku{
		font-weight: bold;				/*太字*/
		font-size:20px;
	}
	  /*金額合計 下線固定*/
	p.kingaku::before {
		content: '';
		position: absolute;
		bottom: 70px;					/*線の上下位置*/
		width: 370px;					/*線の長さ*/
		height: 2px;					/*線の太さ*/
		transform: translateX(0%);			/*位置調整*/
		background-color: black;			/*線の色*/
	}
	
	  /*有効期限*/
	p.kigen{
		font-weight: bold;				/*太字*/
		font-size:20px;
	}
        /*有効期限 下線固定*/
	p.kigen::before {
		content: '';
		position: absolute;
		bottom: 17px;					/*線の上下位置*/
		width: 370px;					/*線の長さ*/
		height: 2px;					/*線の太さ*/
		transform: translateX(0%);			/*位置調整*/
		background-color: black;			/*線の色*/
	}
	/*住所、印鑑部分*/
	div.addressBox{
		/*border: solid 1px black;                      /*ボックス線 消す予定*/
		position:relative;				/*位置指定*/
		/*left: 400px;					/*位置調整*/
		top:-20px;					/*高さ*/
		width:310px;					/*横幅*/
		height: 250px;					/*縦幅*/
		margin-left:100px;				/*余白指定*/
		text-align: left;                               /*文字左寄せ*/
		float: left;
		font-size: 12px;                                /*文字サイズ*/
		
	}
	
	/*自社情報*/
	p.name{
		font-weight: bold;                              /*太字*/
		font-size:16px;                                 /*文字サイズ*/
		margin-top: 20px;                               /*余白指定*/
		margin-bottom: 1px;                             /*余白指定*/
	}
	
	/*印鑑入力部分*/
	table.inkan{
		border-collapse: collapse;
		border: 1px solid black;
		margin-top: -20px;
		/*margin-right: 70px;*/
	}
	
	/*明細部分*/
	table.meisai{
		
		border-collapse: collapse;
		border-color: black;
		border: none;
		font-size: 11px;
		position:relative;				/*位置指定*/
		top: -70px;
		border: 1px solid black;
	}
	
	/**明細背景色**/
	 tr.color{
		background-color: #C0C0C0;
	}
	td.color{
		background-color: #C0C0C0;
	}
        /*小計、合計部分*/
	table.goukei{
		
		position: absolute;
		left: 511px;
		top: 870px;
		border-collapse: collapse;
		border-color: black;
		border: none;
		border: 1px solid black;
		font-size: 11px;
	}
        /*小計、合計部分セル*/
        table.goukei td{
		
		width: 120px;
	}        
        
        /*備考部分*/
	div.bikouBox{
		text-align: left;
		/*border: solid 1px black;				/*ボックス線 消す予定*/
		width: 410px;							/*線の長さ*/
		height: 200px;							/*線の太さ*/
		position: absolute;
		left:60px;
		bottom:130px
	}
	div.bikou{

		border: solid 2px black;				/*ボックス線*/
		width: 400px;							/*線の長さ*/
		height: 100px;							/*線の太さ*/
		position: relative;
		left:10px;
		bottom:-15px;

	}
        
        /*firefoxのみ適用　START*/
    @-moz-document url-prefix() {
			
	/*印鑑入力部分*/
	table.inkan{
		/*border-collapse: collapse;*/
		/*border: 1px solid black;*/
		background-color:#000000;
		border-collapse:separate;
		border-spacing:1px;
		margin-top: -20px;
		/*margin-right: 70px;*/
	}
	table.inkan tr td{
		background-color: #fff;
	}
			
	/*明細部分*/
	table.meisai{
		
		border: 1px solid black;
		background-color:#000000;
		border-collapse:separate;
		border-spacing:1px;
		/*border-collapse: collapse;
		border-color: black;*/
		/*border: none;*/
		font-size: 11px;
		position:relative;				/*位置指定*/
		top: -70px;
	}

        table.goukei{
		
		position: absolute;
		left: 511px;
		top: 905px;
		border: 1px solid black;
		background-color:#000000;
		border-collapse:separate;
		border-spacing:1px;
		font-size: 11px;
	}

	 tr.color{
		background-color: #C0C0C0;
	}
	td.color{
		background-color: #C0C0C0;
	}
	tr.backcolor{
		background-color: #fff;
	}
	td.backcolor{
		background-color: #fff;
	}
	
	table.goukei td{
		width: 120px;
	}
	
    }
/*firefoxのみ適用 END*/

}
/*備考部分*/
	div.bikouBox{
		text-align: left;
		/*border: solid 1px black;				/*ボックス線 消す予定*/
		width: 410px;							/*線の長さ*/
		height: 200px;							/*線の太さ*/
		position: absolute;
		left:60px;
		bottom:130px
	}
	div.bikou{

		border: solid 2px black;				/*ボックス線*/
		width: 400px;							/*線の長さ*/
		height: 100px;							/*線の太さ*/
		position: relative;
		left:10px;
		bottom:-15px;

	}