
    .zip {
      width: 200px;
      position: relative;
      margin:80px 50px 50px;
      padding: 20px;
      border: 1px solid #ccc;
    }
    .tooltip {
      display: none;
      width: 200px;
      position: absolute;
      top: 0;
      left: 250px;
      padding: 16px;
      border-radius: 5px;
      background: #33cc99;
      color: #fff;
      font-weight: bold;
    }
    .tooltip:after {
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      bottom: -19px;
      margin-left: 5px;
      border: solid transparent;
      border-color: rgba(51, 204, 153, 0);
      border-top-color: #33cc99;
      border-width: 10px;
      pointer-events: none;
      content: " ";
    }
    .zip:hover + .tooltip {
      display: block;
    }